html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    display: table;
    width: 100%;
}

#controls {
    float: left;
    width: 120;
    height: 100%;
}

#map {
    overflow: hidden;
    height: 100%;
    border: 1px solid;
}

select {
    margin-bottom: 10px;
}